body {
  background-color: #fff;
  color: #000;
  font-family: 'Segoe UI';
  font-size: 13pt;
  padding: 0 80px 0 80px;
  margin: 50px 0 0 0;
}

input,
select,
option,
a,
img,
name,
card,
atoz,
span {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border: 0;
}

a {
  color: #969696;
  text-decoration: none;
  cursor: pointer;
}

green {
  color: #71a100;
}

gray {
  color: #919191;
}

card {
  z-index: 1;
  position: relative;
  display: block;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: perspective(500px) rotateX(-20deg);
  -moz-transform: perspective(500px) rotateX(-20deg);
  -webkit-transform: perspective(500px) rotateX(-20deg);
  -webkit-transform-origin: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 15px;
  letter-spacing: 0.03em;
  line-height: 30px;
  min-height: 100px;
  text-align: left;
  background-color: #fff;
  transition: 0.25s linear transform, 0.25s 0.15s linear margin-bottom;
  -moz-transition: 0.25s linear transform, 0.25s 0.15s linear margin-bottom;
  -webkit-transition: 0.25s linear transform, 0.25s 0.15s linear margin-bottom;
}

card:not(:first-child) {
  margin-top: -120px;
}

.active {
  transform: perspective(0px) rotateX(0deg);
  -moz-transform: perspective(0px) rotateX(0deg);
  -webkit-transform: perspective(0px) rotateX(0deg);
  margin-bottom: 130px;
  transition: 0.15s linear margin-bottom, 0.15s 0.25s linear transform;
  -moz-transition: 0.15s linear margin-bottom, 0.15s 0.25s linear transform;
  -webkit-transition: 0.15s linear margin-bottom, 0.15s 0.25s linear transform;
}

card ul {
  padding-left: 2em;
}

card li {
  list-style: none;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.max {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
}

name {
  cursor: pointer;
  display: block;
}

card li:last-child {
  float: right;
  margin-top: -10px;
  margin-right: 10px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

@media (max-width: 850px) {
  body {
    margin: 220px 0 0 0;
    padding: 0 30px 0 30px;
  }

  card ul {
    padding-left: 0;
  }
}
